<div>
    <h2 id="page-heading">
        <span jhiTranslate="orgcontrolApp.itemPlanejamentoInstituicao.home.title">Item Planejamento Instituicaos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-item-planejamento-instituicao" [routerLink]="['/item-planejamento-instituicao/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="orgcontrolApp.itemPlanejamentoInstituicao.home.createLabel">
            Create new Item Planejamento Instituicao
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="itemPlanejamentoInstituicaos">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nome"><span jhiTranslate="orgcontrolApp.itemPlanejamentoInstituicao.nome">Nome</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="descricao"><span jhiTranslate="orgcontrolApp.itemPlanejamentoInstituicao.descricao">Descricao</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="planejamentoInstituicao.id"><span jhiTranslate="orgcontrolApp.itemPlanejamentoInstituicao.planejamentoInstituicao">Planejamento Instituicao</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let itemPlanejamentoInstituicao of itemPlanejamentoInstituicaos ;trackBy: trackId">
                <td><a [routerLink]="['/item-planejamento-instituicao', itemPlanejamentoInstituicao.id, 'view' ]">{{itemPlanejamentoInstituicao.id}}</a></td>
                <td>{{itemPlanejamentoInstituicao.nome}}</td>
                <td>{{itemPlanejamentoInstituicao.descricao}}</td>
                <td>
                    <div *ngIf="itemPlanejamentoInstituicao.planejamentoInstituicao">
                        <a [routerLink]="['../planejamento-instituicao', itemPlanejamentoInstituicao.planejamentoInstituicao?.id, 'view' ]" >{{itemPlanejamentoInstituicao.planejamentoInstituicao?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/item-planejamento-instituicao', itemPlanejamentoInstituicao.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/item-planejamento-instituicao', itemPlanejamentoInstituicao.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'item-planejamento-instituicao/'+ itemPlanejamentoInstituicao.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Pager is not implemented yet, so this is normal pagination instead -->
    <div *ngIf="itemPlanejamentoInstituicaos && itemPlanejamentoInstituicaos.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
