<div>
    <h2 id="page-heading">
        <span jhiTranslate="orgcontrolApp.atividade.home.title">Atividades</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-atividade" [routerLink]="['/atividade/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="orgcontrolApp.atividade.home.createLabel">
            Create new Atividade
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="atividades">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nome"><span jhiTranslate="orgcontrolApp.atividade.nome">Nome</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="data"><span jhiTranslate="orgcontrolApp.atividade.data">Data</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="resumo"><span jhiTranslate="orgcontrolApp.atividade.resumo">Resumo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="obs"><span jhiTranslate="orgcontrolApp.atividade.obs">Obs</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tipoAtividade.nome"><span jhiTranslate="orgcontrolApp.atividade.tipoAtividade">Tipo Atividade</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="diario.id"><span jhiTranslate="orgcontrolApp.atividade.diario">Diario</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="bimestre.id"><span jhiTranslate="orgcontrolApp.atividade.bimestre">Bimestre</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let atividade of atividades ;trackBy: trackId">
                <td><a [routerLink]="['/atividade', atividade.id, 'view' ]">{{atividade.id}}</a></td>
                <td>{{atividade.nome}}</td>
                <td>{{atividade.data | date:'mediumDate'}}</td>
                <td>{{atividade.resumo}}</td>
                <td>{{atividade.obs}}</td>
                <td>
                    <div *ngIf="atividade.tipoAtividade">
                        <a [routerLink]="['../tipo-atividade', atividade.tipoAtividade?.id, 'view' ]" >{{atividade.tipoAtividade?.nome}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="atividade.diario">
                        <a [routerLink]="['../diario', atividade.diario?.id, 'view' ]" >{{atividade.diario?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="atividade.bimestre">
                        <a [routerLink]="['../bimestre', atividade.bimestre?.id, 'view' ]" >{{atividade.bimestre?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/atividade', atividade.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/atividade', atividade.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'atividade/'+ atividade.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Pager is not implemented yet, so this is normal pagination instead -->
    <div *ngIf="atividades && atividades.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
