<div>
    <h2 id="page-heading">
        <span jhiTranslate="orgcontrolApp.dadoBiologico.home.title">Dado Biologicos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-dado-biologico" [routerLink]="['/dado-biologico/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="orgcontrolApp.dadoBiologico.home.createLabel">
            Create new Dado Biologico
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="dadoBiologicos">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="valor"><span jhiTranslate="orgcontrolApp.dadoBiologico.valor">Valor</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="obs"><span jhiTranslate="orgcontrolApp.dadoBiologico.obs">Obs</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tipoadoBiologico.nome"><span jhiTranslate="orgcontrolApp.dadoBiologico.tipoadoBiologico">Tipoado Biologico</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let dadoBiologico of dadoBiologicos ;trackBy: trackId">
                <td><a [routerLink]="['/dado-biologico', dadoBiologico.id, 'view' ]">{{dadoBiologico.id}}</a></td>
                <td>{{dadoBiologico.valor}}</td>
                <td>{{dadoBiologico.obs}}</td>
                <td>
                    <div *ngIf="dadoBiologico.tipoadoBiologico">
                        <a [routerLink]="['../tipoado-biologico', dadoBiologico.tipoadoBiologico?.id, 'view' ]" >{{dadoBiologico.tipoadoBiologico?.nome}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/dado-biologico', dadoBiologico.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/dado-biologico', dadoBiologico.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'dado-biologico/'+ dadoBiologico.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Pager is not implemented yet, so this is normal pagination instead -->
    <div *ngIf="dadoBiologicos && dadoBiologicos.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
