<div>
    <h2 id="page-heading">
        <span jhiTranslate="orgcontrolApp.acompanhamentoAtividade.home.title">Acompanhamento Atividades</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-acompanhamento-atividade" [routerLink]="['/acompanhamento-atividade/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="orgcontrolApp.acompanhamentoAtividade.home.createLabel">
            Create new Acompanhamento Atividade
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="acompanhamentoAtividades">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nome"><span jhiTranslate="orgcontrolApp.acompanhamentoAtividade.nome">Nome</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="data"><span jhiTranslate="orgcontrolApp.acompanhamentoAtividade.data">Data</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tema"><span jhiTranslate="orgcontrolApp.acompanhamentoAtividade.tema">Tema</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="descricao"><span jhiTranslate="orgcontrolApp.acompanhamentoAtividade.descricao">Descricao</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dataInicio"><span jhiTranslate="orgcontrolApp.acompanhamentoAtividade.dataInicio">Data Inicio</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dataFim"><span jhiTranslate="orgcontrolApp.acompanhamentoAtividade.dataFim">Data Fim</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="obs"><span jhiTranslate="orgcontrolApp.acompanhamentoAtividade.obs">Obs</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tipoAcompanhamentoAtividade.nome"><span jhiTranslate="orgcontrolApp.acompanhamentoAtividade.tipoAcompanhamentoAtividade">Tipo Acompanhamento Atividade</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="atividade.id"><span jhiTranslate="orgcontrolApp.acompanhamentoAtividade.atividade">Atividade</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let acompanhamentoAtividade of acompanhamentoAtividades ;trackBy: trackId">
                <td><a [routerLink]="['/acompanhamento-atividade', acompanhamentoAtividade.id, 'view' ]">{{acompanhamentoAtividade.id}}</a></td>
                <td>{{acompanhamentoAtividade.nome}}</td>
                <td>{{acompanhamentoAtividade.data | date:'mediumDate'}}</td>
                <td>{{acompanhamentoAtividade.tema}}</td>
                <td>{{acompanhamentoAtividade.descricao}}</td>
                <td>{{acompanhamentoAtividade.dataInicio | date:'mediumDate'}}</td>
                <td>{{acompanhamentoAtividade.dataFim | date:'mediumDate'}}</td>
                <td>{{acompanhamentoAtividade.obs}}</td>
                <td>
                    <div *ngIf="acompanhamentoAtividade.tipoAcompanhamentoAtividade">
                        <a [routerLink]="['../tipo-acompanhamento-atividade', acompanhamentoAtividade.tipoAcompanhamentoAtividade?.id, 'view' ]" >{{acompanhamentoAtividade.tipoAcompanhamentoAtividade?.nome}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="acompanhamentoAtividade.atividade">
                        <a [routerLink]="['../atividade', acompanhamentoAtividade.atividade?.id, 'view' ]" >{{acompanhamentoAtividade.atividade?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/acompanhamento-atividade', acompanhamentoAtividade.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/acompanhamento-atividade', acompanhamentoAtividade.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'acompanhamento-atividade/'+ acompanhamentoAtividade.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Pager is not implemented yet, so this is normal pagination instead -->
    <div *ngIf="acompanhamentoAtividades && acompanhamentoAtividades.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
