<div>
    <h2 id="page-heading">
        <span jhiTranslate="orgcontrolApp.respostaAvaliacaoEconomica.home.title">Resposta Avaliacao Economicas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-resposta-avaliacao-economica" [routerLink]="['/resposta-avaliacao-economica/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="orgcontrolApp.respostaAvaliacaoEconomica.home.createLabel">
            Create new Resposta Avaliacao Economica
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="respostaAvaliacaoEconomicas">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="data"><span jhiTranslate="orgcontrolApp.respostaAvaliacaoEconomica.data">Data</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="obs"><span jhiTranslate="orgcontrolApp.respostaAvaliacaoEconomica.obs">Obs</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="respAvalDescritivaEconomica.id"><span jhiTranslate="orgcontrolApp.respostaAvaliacaoEconomica.respAvalDescritivaEconomica">Resp Aval Descritiva Economica</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="respAvalOptativaEconomica.id"><span jhiTranslate="orgcontrolApp.respostaAvaliacaoEconomica.respAvalOptativaEconomica">Resp Aval Optativa Economica</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="conceito.nome"><span jhiTranslate="orgcontrolApp.respostaAvaliacaoEconomica.conceito">Conceito</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="itemAvaliacaoEconomica.id"><span jhiTranslate="orgcontrolApp.respostaAvaliacaoEconomica.itemAvaliacaoEconomica">Item Avaliacao Economica</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let respostaAvaliacaoEconomica of respostaAvaliacaoEconomicas ;trackBy: trackId">
                <td><a [routerLink]="['/resposta-avaliacao-economica', respostaAvaliacaoEconomica.id, 'view' ]">{{respostaAvaliacaoEconomica.id}}</a></td>
                <td>{{respostaAvaliacaoEconomica.data | date:'mediumDate'}}</td>
                <td>{{respostaAvaliacaoEconomica.obs}}</td>
                <td>
                    <div *ngIf="respostaAvaliacaoEconomica.respAvalDescritivaEconomica">
                        <a [routerLink]="['../resp-aval-descritiva-economica', respostaAvaliacaoEconomica.respAvalDescritivaEconomica?.id, 'view' ]" >{{respostaAvaliacaoEconomica.respAvalDescritivaEconomica?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="respostaAvaliacaoEconomica.respAvalOptativaEconomica">
                        <a [routerLink]="['../resp-aval-optativa-economica', respostaAvaliacaoEconomica.respAvalOptativaEconomica?.id, 'view' ]" >{{respostaAvaliacaoEconomica.respAvalOptativaEconomica?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="respostaAvaliacaoEconomica.conceito">
                        <a [routerLink]="['../conceito', respostaAvaliacaoEconomica.conceito?.id, 'view' ]" >{{respostaAvaliacaoEconomica.conceito?.nome}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="respostaAvaliacaoEconomica.itemAvaliacaoEconomica">
                        <a [routerLink]="['../item-avaliacao-economica', respostaAvaliacaoEconomica.itemAvaliacaoEconomica?.id, 'view' ]" >{{respostaAvaliacaoEconomica.itemAvaliacaoEconomica?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/resposta-avaliacao-economica', respostaAvaliacaoEconomica.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/resposta-avaliacao-economica', respostaAvaliacaoEconomica.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'resposta-avaliacao-economica/'+ respostaAvaliacaoEconomica.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Pager is not implemented yet, so this is normal pagination instead -->
    <div *ngIf="respostaAvaliacaoEconomicas && respostaAvaliacaoEconomicas.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
