<div>
    <h2 id="page-heading">
        <span jhiTranslate="orgcontrolApp.bimestre.home.title">Bimestres</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-bimestre" [routerLink]="['/bimestre/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="orgcontrolApp.bimestre.home.createLabel">
            Create new Bimestre
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="bimestres">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="abreviatura"><span jhiTranslate="orgcontrolApp.bimestre.abreviatura">Abreviatura</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nome"><span jhiTranslate="orgcontrolApp.bimestre.nome">Nome</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="componente"><span jhiTranslate="orgcontrolApp.bimestre.componente">Componente</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dataInicio"><span jhiTranslate="orgcontrolApp.bimestre.dataInicio">Data Inicio</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dataFim"><span jhiTranslate="orgcontrolApp.bimestre.dataFim">Data Fim</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="numero"><span jhiTranslate="orgcontrolApp.bimestre.numero">Numero</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="atividadesPrevistas"><span jhiTranslate="orgcontrolApp.bimestre.atividadesPrevistas">Atividades Previstas</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="atividadesDadas"><span jhiTranslate="orgcontrolApp.bimestre.atividadesDadas">Atividades Dadas</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="atividadesRepostas"><span jhiTranslate="orgcontrolApp.bimestre.atividadesRepostas">Atividades Repostas</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fechamentoBimestre.id"><span jhiTranslate="orgcontrolApp.bimestre.fechamentoBimestre">Fechamento Bimestre</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="diario.id"><span jhiTranslate="orgcontrolApp.bimestre.diario">Diario</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let bimestre of bimestres ;trackBy: trackId">
                <td><a [routerLink]="['/bimestre', bimestre.id, 'view' ]">{{bimestre.id}}</a></td>
                <td>{{bimestre.abreviatura}}</td>
                <td>{{bimestre.nome}}</td>
                <td>{{bimestre.componente}}</td>
                <td>{{bimestre.dataInicio | date:'mediumDate'}}</td>
                <td>{{bimestre.dataFim | date:'mediumDate'}}</td>
                <td>{{bimestre.numero}}</td>
                <td>{{bimestre.atividadesPrevistas}}</td>
                <td>{{bimestre.atividadesDadas}}</td>
                <td>{{bimestre.atividadesRepostas}}</td>
                <td>
                    <div *ngIf="bimestre.fechamentoBimestre">
                        <a [routerLink]="['../fechamento-bimestre', bimestre.fechamentoBimestre?.id, 'view' ]" >{{bimestre.fechamentoBimestre?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="bimestre.diario">
                        <a [routerLink]="['../diario', bimestre.diario?.id, 'view' ]" >{{bimestre.diario?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/bimestre', bimestre.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/bimestre', bimestre.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'bimestre/'+ bimestre.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Pager is not implemented yet, so this is normal pagination instead -->
    <div *ngIf="bimestres && bimestres.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
