<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="dependenteLegal">
            <h2><span jhiTranslate="orgcontrolApp.dependenteLegal.detail.title">Dependente Legal</span> {{dependenteLegal.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="orgcontrolApp.dependenteLegal.nome">Nome</span></dt>
                <dd>
                    <span>{{dependenteLegal.nome}}</span>
                </dd>
                <dt><span jhiTranslate="orgcontrolApp.dependenteLegal.dataNascimento">Data Nascimento</span></dt>
                <dd>
                    <span>{{dependenteLegal.dataNascimento}}</span>
                </dd>
                <dt><span jhiTranslate="orgcontrolApp.dependenteLegal.obs">Obs</span></dt>
                <dd>
                    <span>{{dependenteLegal.obs}}</span>
                </dd>
                <dt><span jhiTranslate="orgcontrolApp.dependenteLegal.colaborador">Colaborador</span></dt>
                <dd>
                    <div *ngIf="dependenteLegal.colaborador">
                        <a [routerLink]="['/colaborador', dependenteLegal.colaborador?.id, 'view']">{{dependenteLegal.colaborador?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/dependente-legal', dependenteLegal.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
