<div>
    <h2 id="page-heading">
        <span jhiTranslate="orgcontrolApp.dependenteLegal.home.title">Dependente Legals</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-dependente-legal" [routerLink]="['/dependente-legal/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="orgcontrolApp.dependenteLegal.home.createLabel">
            Create new Dependente Legal
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="dependenteLegals">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nome"><span jhiTranslate="orgcontrolApp.dependenteLegal.nome">Nome</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dataNascimento"><span jhiTranslate="orgcontrolApp.dependenteLegal.dataNascimento">Data Nascimento</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="obs"><span jhiTranslate="orgcontrolApp.dependenteLegal.obs">Obs</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="colaborador.id"><span jhiTranslate="orgcontrolApp.dependenteLegal.colaborador">Colaborador</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let dependenteLegal of dependenteLegals ;trackBy: trackId">
                <td><a [routerLink]="['/dependente-legal', dependenteLegal.id, 'view' ]">{{dependenteLegal.id}}</a></td>
                <td>{{dependenteLegal.nome}}</td>
                <td>{{dependenteLegal.dataNascimento | date:'mediumDate'}}</td>
                <td>{{dependenteLegal.obs}}</td>
                <td>
                    <div *ngIf="dependenteLegal.colaborador">
                        <a [routerLink]="['../colaborador', dependenteLegal.colaborador?.id, 'view' ]" >{{dependenteLegal.colaborador?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/dependente-legal', dependenteLegal.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/dependente-legal', dependenteLegal.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'dependente-legal/'+ dependenteLegal.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Pager is not implemented yet, so this is normal pagination instead -->
    <div *ngIf="dependenteLegals && dependenteLegals.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
