<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="opcaoRespAvalOptativa">
            <h2><span jhiTranslate="orgcontrolApp.opcaoRespAvalOptativa.detail.title">Opcao Resp Aval Optativa</span> {{opcaoRespAvalOptativa.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="orgcontrolApp.opcaoRespAvalOptativa.opcao">Opcao</span></dt>
                <dd>
                    <span>{{opcaoRespAvalOptativa.opcao}}</span>
                </dd>
                <dt><span jhiTranslate="orgcontrolApp.opcaoRespAvalOptativa.obs">Obs</span></dt>
                <dd>
                    <span>{{opcaoRespAvalOptativa.obs}}</span>
                </dd>
                <dt><span jhiTranslate="orgcontrolApp.opcaoRespAvalOptativa.opcaoResposta">Opcao Resposta</span></dt>
                <dd>
                    <div *ngIf="opcaoRespAvalOptativa.opcaoResposta">
                        <a [routerLink]="['/resp-aval-optativa', opcaoRespAvalOptativa.opcaoResposta?.id, 'view']">{{opcaoRespAvalOptativa.opcaoResposta?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/opcao-resp-aval-optativa', opcaoRespAvalOptativa.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
