<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="periodoSemana">
            <h2><span jhiTranslate="orgcontrolApp.periodoSemana.detail.title">Periodo Semana</span> {{periodoSemana.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="orgcontrolApp.periodoSemana.nome">Nome</span></dt>
                <dd>
                    <span>{{periodoSemana.nome}}</span>
                </dd>
                <dt><span jhiTranslate="orgcontrolApp.periodoSemana.obs">Obs</span></dt>
                <dd>
                    <span>{{periodoSemana.obs}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/periodo-semana', periodoSemana.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
