<div>
    <h2 id="page-heading">
        <span jhiTranslate="orgcontrolApp.email.home.title">Emails</span>
        <button type="button" id="cancel-save" class="btn btn-secondary float-right"  (click)="previousState()">
            <fa-icon [icon]="'ban'"></fa-icon>
        </button>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-email" [routerLink]="['/email/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="emails">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tipoEmail"><span jhiTranslate="orgcontrolApp.email.tipoEmail">Tipo Email</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="descricao"><span jhiTranslate="orgcontrolApp.email.descricao">Descricao</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let email of emails ;trackBy: trackId">
                <td><a [routerLink]="['/email', email.id, 'view' ]">{{email.id}}</a></td>
                <td jhiTranslate="{{'orgcontrolApp.TipoEmail.' + email.tipoEmail}}">{{email.tipoEmail}}</td>
                <td>{{email.descricao}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/email', email.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                        </button>
                        <button type="submit"
                                [routerLink]="['/email', email.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'email/'+ email.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Pager is not implemented yet, so this is normal pagination instead -->
    <div *ngIf="emails && emails.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
