<div>
    <h2 id="page-heading">
        <span jhiTranslate="orgcontrolApp.opcaoRespAvalOptativaEconomica.home.title">Opcao Resp Aval Optativa Economicas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-opcao-resp-aval-optativa-economica" [routerLink]="['/opcao-resp-aval-optativa-economica/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="orgcontrolApp.opcaoRespAvalOptativaEconomica.home.createLabel">
            Create new Opcao Resp Aval Optativa Economica
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="opcaoRespAvalOptativaEconomicas">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="opcao"><span jhiTranslate="orgcontrolApp.opcaoRespAvalOptativaEconomica.opcao">Opcao</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="obs"><span jhiTranslate="orgcontrolApp.opcaoRespAvalOptativaEconomica.obs">Obs</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="opcaoResposta.id"><span jhiTranslate="orgcontrolApp.opcaoRespAvalOptativaEconomica.opcaoResposta">Opcao Resposta</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let opcaoRespAvalOptativaEconomica of opcaoRespAvalOptativaEconomicas ;trackBy: trackId">
                <td><a [routerLink]="['/opcao-resp-aval-optativa-economica', opcaoRespAvalOptativaEconomica.id, 'view' ]">{{opcaoRespAvalOptativaEconomica.id}}</a></td>
                <td>{{opcaoRespAvalOptativaEconomica.opcao}}</td>
                <td>{{opcaoRespAvalOptativaEconomica.obs}}</td>
                <td>
                    <div *ngIf="opcaoRespAvalOptativaEconomica.opcaoResposta">
                        <a [routerLink]="['../resp-aval-optativa-economica', opcaoRespAvalOptativaEconomica.opcaoResposta?.id, 'view' ]" >{{opcaoRespAvalOptativaEconomica.opcaoResposta?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/opcao-resp-aval-optativa-economica', opcaoRespAvalOptativaEconomica.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/opcao-resp-aval-optativa-economica', opcaoRespAvalOptativaEconomica.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'opcao-resp-aval-optativa-economica/'+ opcaoRespAvalOptativaEconomica.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Pager is not implemented yet, so this is normal pagination instead -->
    <div *ngIf="opcaoRespAvalOptativaEconomicas && opcaoRespAvalOptativaEconomicas.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
