<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-aluno-heading" jhiTranslate="orgcontrolApp.aluno.home.createOrEditLabel">Create or edit a Aluno</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!aluno.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="aluno.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="orgcontrolApp.aluno.apelido" for="field_apelido">Apelido</label>
                    <input type="text" class="form-control" name="apelido" id="field_apelido"
                        [(ngModel)]="aluno.apelido" maxlength="30"/>
                    <div [hidden]="!(editForm.controls.apelido?.dirty && editForm.controls.apelido?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.apelido?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 30 }">
                        This field cannot be longer than 30 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="orgcontrolApp.aluno.numeroIrmaos" for="field_numeroIrmaos">Numero Irmaos</label>
                    <input type="number" class="form-control" name="numeroIrmaos" id="field_numeroIrmaos"
                        [(ngModel)]="aluno.numeroIrmaos" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="orgcontrolApp.aluno.obs" for="field_obs">Obs</label>
                    <input type="text" class="form-control" name="obs" id="field_obs"
                        [(ngModel)]="aluno.obs" maxlength="100"/>
                    <div [hidden]="!(editForm.controls.obs?.dirty && editForm.controls.obs?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.obs?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="orgcontrolApp.aluno.pessoa" for="field_pessoa">Pessoa</label>
                    <select class="form-control" id="field_pessoa" name="pessoa" [(ngModel)]="aluno.pessoa">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="pessoaOption.id === aluno.pessoa?.id ? aluno.pessoa : pessoaOption" *ngFor="let pessoaOption of pessoas; trackBy: trackPessoaById">{{pessoaOption.nome}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="orgcontrolApp.aluno.mae" for="field_mae">Mae</label>
                    <select class="form-control" id="field_mae" name="mae" [(ngModel)]="aluno.mae">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="pessoaOption.id === aluno.mae?.id ? aluno.mae : pessoaOption" *ngFor="let pessoaOption of maes; trackBy: trackPessoaById">{{pessoaOption.nome}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="orgcontrolApp.aluno.pai" for="field_pai">Pai</label>
                    <select class="form-control" id="field_pai" name="pai" [(ngModel)]="aluno.pai">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="pessoaOption.id === aluno.pai?.id ? aluno.pai : pessoaOption" *ngFor="let pessoaOption of pais; trackBy: trackPessoaById">{{pessoaOption.nome}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="orgcontrolApp.aluno.dadosMedico" for="field_dadosMedico">Dados Medico</label>
                    <select class="form-control" id="field_dadosMedico" name="dadosMedico" [(ngModel)]="aluno.dadosMedico">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dadosMedicoOption.id === aluno.dadosMedico?.id ? aluno.dadosMedico : dadosMedicoOption" *ngFor="let dadosMedicoOption of dadosmedicos; trackBy: trackDadosMedicoById">{{dadosMedicoOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="orgcontrolApp.aluno.raca" for="field_raca">Raca</label>
                    <select class="form-control" id="field_raca" name="raca" [(ngModel)]="aluno.raca" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="racaOption.id === aluno.raca?.id ? aluno.raca : racaOption" *ngFor="let racaOption of racas; trackBy: trackRacaById">{{racaOption.nome}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="orgcontrolApp.aluno.sexo" for="field_sexo">Sexo</label>
                    <select class="form-control" id="field_sexo" name="sexo" [(ngModel)]="aluno.sexo" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="sexoOption.id === aluno.sexo?.id ? aluno.sexo : sexoOption" *ngFor="let sexoOption of sexos; trackBy: trackSexoById">{{sexoOption.nome}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="orgcontrolApp.aluno.religiao" for="field_religiao">Religiao</label>
                    <select class="form-control" id="field_religiao" name="religiao" [(ngModel)]="aluno.religiao" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="religiaoOption.id === aluno.religiao?.id ? aluno.religiao : religiaoOption" *ngFor="let religiaoOption of religiaos; trackBy: trackReligiaoById">{{religiaoOption.nome}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="orgcontrolApp.aluno.unidade" for="field_unidade">Unidade</label>
                    <select class="form-control" id="field_unidade" name="unidade" [(ngModel)]="aluno.unidade" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="unidadeOption.id === aluno.unidade?.id ? aluno.unidade : unidadeOption" *ngFor="let unidadeOption of unidades; trackBy: trackUnidadeById">{{unidadeOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="orgcontrolApp.aluno.diario" for="field_diario">Diario</label>
                    <select class="form-control" id="field_diario" name="diario" [(ngModel)]="aluno.diario" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="diarioOption.id === aluno.diario?.id ? aluno.diario : diarioOption" *ngFor="let diarioOption of diarios; trackBy: trackDiarioById">{{diarioOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
