<div>
    <h2 id="page-heading">
        <span jhiTranslate="orgcontrolApp.avaliacaoEconomica.home.title">Avaliacao Economicas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-avaliacao-economica" [routerLink]="['/avaliacao-economica/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="orgcontrolApp.avaliacaoEconomica.home.createLabel">
            Create new Avaliacao Economica
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="avaliacaoEconomicas">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nome"><span jhiTranslate="orgcontrolApp.avaliacaoEconomica.nome">Nome</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="data"><span jhiTranslate="orgcontrolApp.avaliacaoEconomica.data">Data</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tema"><span jhiTranslate="orgcontrolApp.avaliacaoEconomica.tema">Tema</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="descricao"><span jhiTranslate="orgcontrolApp.avaliacaoEconomica.descricao">Descricao</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dataInicio"><span jhiTranslate="orgcontrolApp.avaliacaoEconomica.dataInicio">Data Inicio</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dataFim"><span jhiTranslate="orgcontrolApp.avaliacaoEconomica.dataFim">Data Fim</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="obs"><span jhiTranslate="orgcontrolApp.avaliacaoEconomica.obs">Obs</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tipoAvaliacaoEconomica.nome"><span jhiTranslate="orgcontrolApp.avaliacaoEconomica.tipoAvaliacaoEconomica">Tipo Avaliacao Economica</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="aluno.id"><span jhiTranslate="orgcontrolApp.avaliacaoEconomica.aluno">Aluno</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let avaliacaoEconomica of avaliacaoEconomicas ;trackBy: trackId">
                <td><a [routerLink]="['/avaliacao-economica', avaliacaoEconomica.id, 'view' ]">{{avaliacaoEconomica.id}}</a></td>
                <td>{{avaliacaoEconomica.nome}}</td>
                <td>{{avaliacaoEconomica.data | date:'mediumDate'}}</td>
                <td>{{avaliacaoEconomica.tema}}</td>
                <td>{{avaliacaoEconomica.descricao}}</td>
                <td>{{avaliacaoEconomica.dataInicio | date:'mediumDate'}}</td>
                <td>{{avaliacaoEconomica.dataFim | date:'mediumDate'}}</td>
                <td>{{avaliacaoEconomica.obs}}</td>
                <td>
                    <div *ngIf="avaliacaoEconomica.tipoAvaliacaoEconomica">
                        <a [routerLink]="['../tipo-avaliacao-economica', avaliacaoEconomica.tipoAvaliacaoEconomica?.id, 'view' ]" >{{avaliacaoEconomica.tipoAvaliacaoEconomica?.nome}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="avaliacaoEconomica.aluno">
                        <a [routerLink]="['../aluno', avaliacaoEconomica.aluno?.id, 'view' ]" >{{avaliacaoEconomica.aluno?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/avaliacao-economica', avaliacaoEconomica.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/avaliacao-economica', avaliacaoEconomica.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'avaliacao-economica/'+ avaliacaoEconomica.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Pager is not implemented yet, so this is normal pagination instead -->
    <div *ngIf="avaliacaoEconomicas && avaliacaoEconomicas.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
