<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-unidade-heading" jhiTranslate="orgcontrolApp.unidade.home.createOrEditLabel">Create or edit a Unidade</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!unidade.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="unidade.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="orgcontrolApp.unidade.nome" for="field_nome">Nome</label>
                    <input type="text" class="form-control" name="nome" id="field_nome"
                        [(ngModel)]="unidade.nome" required maxlength="50"/>
                    <div [hidden]="!(editForm.controls.nome?.dirty && editForm.controls.nome?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.nome?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.nome?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                        This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="orgcontrolApp.unidade.endereco" for="field_endereco">Endereco</label>
                    <select class="form-control" id="field_endereco" name="endereco" [(ngModel)]="unidade.endereco">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="enderecoOption.id === unidade.endereco?.id ? unidade.endereco : enderecoOption" *ngFor="let enderecoOption of enderecos; trackBy: trackEnderecoById">{{enderecoOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="orgcontrolApp.unidade.tipoUnidade" for="field_tipoUnidade">Tipo Unidade</label>
                    <select class="form-control" id="field_tipoUnidade" name="tipoUnidade" [(ngModel)]="unidade.tipoUnidade">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="tipoUnidadeOption.id === unidade.tipoUnidade?.id ? unidade.tipoUnidade : tipoUnidadeOption" *ngFor="let tipoUnidadeOption of tipounidades; trackBy: trackTipoUnidadeById">{{tipoUnidadeOption.nome}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="orgcontrolApp.unidade.instituicao" for="field_instituicao">Instituicao</label>
                    <select class="form-control" id="field_instituicao" name="instituicao" [(ngModel)]="unidade.instituicao" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="instituicaoOption.id === unidade.instituicao?.id ? unidade.instituicao : instituicaoOption" *ngFor="let instituicaoOption of instituicaos; trackBy: trackInstituicaoById">{{instituicaoOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
