<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tipoBiotipo">
            <h2><span jhiTranslate="orgcontrolApp.tipoBiotipo.detail.title">Tipo Biotipo</span> {{tipoBiotipo.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="orgcontrolApp.tipoBiotipo.nome">Nome</span></dt>
                <dd>
                    <span>{{tipoBiotipo.nome}}</span>
                </dd>
                <dt><span jhiTranslate="orgcontrolApp.tipoBiotipo.obs">Obs</span></dt>
                <dd>
                    <span>{{tipoBiotipo.obs}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/tipo-biotipo', tipoBiotipo.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
