<div>
    <h2 id="page-heading">
        <span jhiTranslate="orgcontrolApp.exameMedico.home.title">Exame Medicos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-exame-medico" [routerLink]="['/exame-medico/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="orgcontrolApp.exameMedico.home.createLabel">
            Create new Exame Medico
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="exameMedicos">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nomeMedico"><span jhiTranslate="orgcontrolApp.exameMedico.nomeMedico">Nome Medico</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="crmMedico"><span jhiTranslate="orgcontrolApp.exameMedico.crmMedico">Crm Medico</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="especialidadeMedico"><span jhiTranslate="orgcontrolApp.exameMedico.especialidadeMedico">Especialidade Medico</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="idadePaciente"><span jhiTranslate="orgcontrolApp.exameMedico.idadePaciente">Idade Paciente</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="obs"><span jhiTranslate="orgcontrolApp.exameMedico.obs">Obs</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dadosMedico.id"><span jhiTranslate="orgcontrolApp.exameMedico.dadosMedico">Dados Medico</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let exameMedico of exameMedicos ;trackBy: trackId">
                <td><a [routerLink]="['/exame-medico', exameMedico.id, 'view' ]">{{exameMedico.id}}</a></td>
                <td>{{exameMedico.nomeMedico}}</td>
                <td>{{exameMedico.crmMedico}}</td>
                <td>{{exameMedico.especialidadeMedico}}</td>
                <td>{{exameMedico.idadePaciente}}</td>
                <td>{{exameMedico.obs}}</td>
                <td>
                    <div *ngIf="exameMedico.dadosMedico">
                        <a [routerLink]="['../dados-medico', exameMedico.dadosMedico?.id, 'view' ]" >{{exameMedico.dadosMedico?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/exame-medico', exameMedico.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/exame-medico', exameMedico.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'exame-medico/'+ exameMedico.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Pager is not implemented yet, so this is normal pagination instead -->
    <div *ngIf="exameMedicos && exameMedicos.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
