<div>
    <h2 id="page-heading">
        <span jhiTranslate="orgcontrolApp.avaliacao.home.title">Avaliacaos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-avaliacao" [routerLink]="['/avaliacao/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="orgcontrolApp.avaliacao.home.createLabel">
            Create new Avaliacao
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="avaliacaos">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nome"><span jhiTranslate="orgcontrolApp.avaliacao.nome">Nome</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="data"><span jhiTranslate="orgcontrolApp.avaliacao.data">Data</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tema"><span jhiTranslate="orgcontrolApp.avaliacao.tema">Tema</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="descricao"><span jhiTranslate="orgcontrolApp.avaliacao.descricao">Descricao</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dataInicio"><span jhiTranslate="orgcontrolApp.avaliacao.dataInicio">Data Inicio</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dataFim"><span jhiTranslate="orgcontrolApp.avaliacao.dataFim">Data Fim</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="obs"><span jhiTranslate="orgcontrolApp.avaliacao.obs">Obs</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tipoAvaliacao.nome"><span jhiTranslate="orgcontrolApp.avaliacao.tipoAvaliacao">Tipo Avaliacao</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fechamentoBimestre.id"><span jhiTranslate="orgcontrolApp.avaliacao.fechamentoBimestre">Fechamento Bimestre</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let avaliacao of avaliacaos ;trackBy: trackId">
                <td><a [routerLink]="['/avaliacao', avaliacao.id, 'view' ]">{{avaliacao.id}}</a></td>
                <td>{{avaliacao.nome}}</td>
                <td>{{avaliacao.data | date:'mediumDate'}}</td>
                <td>{{avaliacao.tema}}</td>
                <td>{{avaliacao.descricao}}</td>
                <td>{{avaliacao.dataInicio | date:'mediumDate'}}</td>
                <td>{{avaliacao.dataFim | date:'mediumDate'}}</td>
                <td>{{avaliacao.obs}}</td>
                <td>
                    <div *ngIf="avaliacao.tipoAvaliacao">
                        <a [routerLink]="['../tipo-avaliacao', avaliacao.tipoAvaliacao?.id, 'view' ]" >{{avaliacao.tipoAvaliacao?.nome}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="avaliacao.fechamentoBimestre">
                        <a [routerLink]="['../fechamento-bimestre', avaliacao.fechamentoBimestre?.id, 'view' ]" >{{avaliacao.fechamentoBimestre?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/avaliacao', avaliacao.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/avaliacao', avaliacao.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'avaliacao/'+ avaliacao.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Pager is not implemented yet, so this is normal pagination instead -->
    <div *ngIf="avaliacaos && avaliacaos.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
