<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-opcao-resp-atividade-heading" jhiTranslate="orgcontrolApp.opcaoRespAtividade.home.createOrEditLabel">Create or edit a Opcao Resp Atividade</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!opcaoRespAtividade.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="opcaoRespAtividade.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="orgcontrolApp.opcaoRespAtividade.opcao" for="field_opcao">Opcao</label>
                    <input type="text" class="form-control" name="opcao" id="field_opcao"
                        [(ngModel)]="opcaoRespAtividade.opcao" required maxlength="30"/>
                    <div [hidden]="!(editForm.controls.opcao?.dirty && editForm.controls.opcao?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.opcao?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.opcao?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 30 }">
                        This field cannot be longer than 30 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="orgcontrolApp.opcaoRespAtividade.obs" for="field_obs">Obs</label>
                    <input type="text" class="form-control" name="obs" id="field_obs"
                        [(ngModel)]="opcaoRespAtividade.obs" maxlength="100"/>
                    <div [hidden]="!(editForm.controls.obs?.dirty && editForm.controls.obs?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.obs?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="orgcontrolApp.opcaoRespAtividade.opcaoResposta" for="field_opcaoResposta">Opcao Resposta</label>
                    <select class="form-control" id="field_opcaoResposta" name="opcaoResposta" [(ngModel)]="opcaoRespAtividade.opcaoResposta" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="respAtivOptativaOption.id === opcaoRespAtividade.opcaoResposta?.id ? opcaoRespAtividade.opcaoResposta : respAtivOptativaOption" *ngFor="let respAtivOptativaOption of respativoptativas; trackBy: trackRespAtivOptativaById">{{respAtivOptativaOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
