<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="calendarioInstituicao">
            <h2><span jhiTranslate="orgcontrolApp.calendarioInstituicao.detail.title">Calendario Instituicao</span> {{calendarioInstituicao.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="orgcontrolApp.calendarioInstituicao.nome">Nome</span></dt>
                <dd>
                    <span>{{calendarioInstituicao.nome}}</span>
                </dd>
                <dt><span jhiTranslate="orgcontrolApp.calendarioInstituicao.obs">Obs</span></dt>
                <dd>
                    <span>{{calendarioInstituicao.obs}}</span>
                </dd>
                <dt><span jhiTranslate="orgcontrolApp.calendarioInstituicao.instituicao">Instituicao</span></dt>
                <dd>
                    <div *ngIf="calendarioInstituicao.instituicao">
                        <a [routerLink]="['/instituicao', calendarioInstituicao.instituicao?.id, 'view']">{{calendarioInstituicao.instituicao?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="orgcontrolApp.calendarioInstituicao.unidade">Unidade</span></dt>
                <dd>
                    <div *ngIf="calendarioInstituicao.unidade">
                        <a [routerLink]="['/unidade', calendarioInstituicao.unidade?.id, 'view']">{{calendarioInstituicao.unidade?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/calendario-instituicao', calendarioInstituicao.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
