<div>
    <h2 id="page-heading">
        <span jhiTranslate="orgcontrolApp.documento.home.title">Documentos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-documento" [routerLink]="['/documento/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="orgcontrolApp.documento.home.createLabel">
            Create new Documento
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="documentos">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nome"><span jhiTranslate="orgcontrolApp.documento.nome">Nome</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="numero"><span jhiTranslate="orgcontrolApp.documento.numero">Numero</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="obs"><span jhiTranslate="orgcontrolApp.documento.obs">Obs</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tipoDocumento.id"><span jhiTranslate="orgcontrolApp.documento.tipoDocumento">Tipo Documento</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fotoDocumento.id"><span jhiTranslate="orgcontrolApp.documento.fotoDocumento">Foto Documento</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="pessoa.id"><span jhiTranslate="orgcontrolApp.documento.pessoa">Pessoa</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="colaborador.id"><span jhiTranslate="orgcontrolApp.documento.colaborador">Colaborador</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dependenteLegal.id"><span jhiTranslate="orgcontrolApp.documento.dependenteLegal">Dependente Legal</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let documento of documentos ;trackBy: trackId">
                <td><a [routerLink]="['/documento', documento.id, 'view' ]">{{documento.id}}</a></td>
                <td>{{documento.nome}}</td>
                <td>{{documento.numero}}</td>
                <td>{{documento.obs}}</td>
                <td>
                    <div *ngIf="documento.tipoDocumento">
                        <a [routerLink]="['../tipo-documento', documento.tipoDocumento?.id, 'view' ]" >{{documento.tipoDocumento?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="documento.fotoDocumento">
                        <a [routerLink]="['../foto-documento', documento.fotoDocumento?.id, 'view' ]" >{{documento.fotoDocumento?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="documento.pessoa">
                        <a [routerLink]="['../pessoa', documento.pessoa?.id, 'view' ]" >{{documento.pessoa?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="documento.colaborador">
                        <a [routerLink]="['../colaborador', documento.colaborador?.id, 'view' ]" >{{documento.colaborador?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="documento.dependenteLegal">
                        <a [routerLink]="['../dependente-legal', documento.dependenteLegal?.id, 'view' ]" >{{documento.dependenteLegal?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/documento', documento.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/documento', documento.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'documento/'+ documento.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Pager is not implemented yet, so this is normal pagination instead -->
    <div *ngIf="documentos && documentos.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
