<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-item-avaliacao-economica-heading" jhiTranslate="orgcontrolApp.itemAvaliacaoEconomica.home.createOrEditLabel">Create or edit a Item Avaliacao Economica</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!itemAvaliacaoEconomica.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="itemAvaliacaoEconomica.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="orgcontrolApp.itemAvaliacaoEconomica.tipoResposta" for="field_tipoResposta">Tipo Resposta</label>
                    <select class="form-control" name="tipoResposta" [(ngModel)]="itemAvaliacaoEconomica.tipoResposta" id="field_tipoResposta"  required>
                        <option value="DESCRITIVA">{{'orgcontrolApp.TipoResposta.DESCRITIVA' | translate}}</option>
                        <option value="OPTATIVA">{{'orgcontrolApp.TipoResposta.OPTATIVA' | translate}}</option>
                        <option value="MULT_OPTATIVA">{{'orgcontrolApp.TipoResposta.MULT_OPTATIVA' | translate}}</option>
                    </select>
                    <div [hidden]="!(editForm.controls.tipoResposta?.dirty && editForm.controls.tipoResposta?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.tipoResposta?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="orgcontrolApp.itemAvaliacaoEconomica.questao" for="field_questao">Questao</label>
                    <input type="text" class="form-control" name="questao" id="field_questao"
                        [(ngModel)]="itemAvaliacaoEconomica.questao" required maxlength="1000"/>
                    <div [hidden]="!(editForm.controls.questao?.dirty && editForm.controls.questao?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.questao?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.questao?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 1000 }">
                        This field cannot be longer than 1000 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="orgcontrolApp.itemAvaliacaoEconomica.obs" for="field_obs">Obs</label>
                    <input type="text" class="form-control" name="obs" id="field_obs"
                        [(ngModel)]="itemAvaliacaoEconomica.obs" maxlength="100"/>
                    <div [hidden]="!(editForm.controls.obs?.dirty && editForm.controls.obs?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.obs?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="orgcontrolApp.itemAvaliacaoEconomica.respAvalDescritivaEconomica" for="field_respAvalDescritivaEconomica">Resp Aval Descritiva Economica</label>
                    <select class="form-control" id="field_respAvalDescritivaEconomica" name="respAvalDescritivaEconomica" [(ngModel)]="itemAvaliacaoEconomica.respAvalDescritivaEconomica">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="respAvalDescritivaEconomicaOption.id === itemAvaliacaoEconomica.respAvalDescritivaEconomica?.id ? itemAvaliacaoEconomica.respAvalDescritivaEconomica : respAvalDescritivaEconomicaOption" *ngFor="let respAvalDescritivaEconomicaOption of respavaldescritivaeconomicas; trackBy: trackRespAvalDescritivaEconomicaById">{{respAvalDescritivaEconomicaOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="orgcontrolApp.itemAvaliacaoEconomica.respAvalOptativaEconomica" for="field_respAvalOptativaEconomica">Resp Aval Optativa Economica</label>
                    <select class="form-control" id="field_respAvalOptativaEconomica" name="respAvalOptativaEconomica" [(ngModel)]="itemAvaliacaoEconomica.respAvalOptativaEconomica">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="respAvalOptativaEconomicaOption.id === itemAvaliacaoEconomica.respAvalOptativaEconomica?.id ? itemAvaliacaoEconomica.respAvalOptativaEconomica : respAvalOptativaEconomicaOption" *ngFor="let respAvalOptativaEconomicaOption of respavaloptativaeconomicas; trackBy: trackRespAvalOptativaEconomicaById">{{respAvalOptativaEconomicaOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="orgcontrolApp.itemAvaliacaoEconomica.avaliacaoEconomica" for="field_avaliacaoEconomica">Avaliacao Economica</label>
                    <select class="form-control" id="field_avaliacaoEconomica" name="avaliacaoEconomica" [(ngModel)]="itemAvaliacaoEconomica.avaliacaoEconomica" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="avaliacaoEconomicaOption.id === itemAvaliacaoEconomica.avaliacaoEconomica?.id ? itemAvaliacaoEconomica.avaliacaoEconomica : avaliacaoEconomicaOption" *ngFor="let avaliacaoEconomicaOption of avaliacaoeconomicas; trackBy: trackAvaliacaoEconomicaById">{{avaliacaoEconomicaOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
