<div>
    <h2 id="page-heading">
        <span jhiTranslate="orgcontrolApp.generalidade.home.title">Generalidades</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-generalidade" [routerLink]="['/generalidade/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="orgcontrolApp.generalidade.home.createLabel">
            Create new Generalidade
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="generalidades">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="codigo"><span jhiTranslate="orgcontrolApp.generalidade.codigo">Codigo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nome"><span jhiTranslate="orgcontrolApp.generalidade.nome">Nome</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="diario.id"><span jhiTranslate="orgcontrolApp.generalidade.diario">Diario</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="bimestre.id"><span jhiTranslate="orgcontrolApp.generalidade.bimestre">Bimestre</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let generalidade of generalidades ;trackBy: trackId">
                <td><a [routerLink]="['/generalidade', generalidade.id, 'view' ]">{{generalidade.id}}</a></td>
                <td>{{generalidade.codigo}}</td>
                <td>{{generalidade.nome}}</td>
                <td>
                    <div *ngIf="generalidade.diario">
                        <a [routerLink]="['../diario', generalidade.diario?.id, 'view' ]" >{{generalidade.diario?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="generalidade.bimestre">
                        <a [routerLink]="['../bimestre', generalidade.bimestre?.id, 'view' ]" >{{generalidade.bimestre?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/generalidade', generalidade.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/generalidade', generalidade.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'generalidade/'+ generalidade.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Pager is not implemented yet, so this is normal pagination instead -->
    <div *ngIf="generalidades && generalidades.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
