<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-item-planejamento-ensino-heading" jhiTranslate="orgcontrolApp.itemPlanejamentoEnsino.home.createOrEditLabel">Create or edit a Item Planejamento Ensino</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!itemPlanejamentoEnsino.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="itemPlanejamentoEnsino.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="orgcontrolApp.itemPlanejamentoEnsino.nome" for="field_nome">Nome</label>
                    <input type="text" class="form-control" name="nome" id="field_nome"
                        [(ngModel)]="itemPlanejamentoEnsino.nome" required maxlength="200"/>
                    <div [hidden]="!(editForm.controls.nome?.dirty && editForm.controls.nome?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.nome?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.nome?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 200 }">
                        This field cannot be longer than 200 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="orgcontrolApp.itemPlanejamentoEnsino.descricao" for="field_descricao">Descricao</label>
                    <input type="text" class="form-control" name="descricao" id="field_descricao"
                        [(ngModel)]="itemPlanejamentoEnsino.descricao" required maxlength="2000"/>
                    <div [hidden]="!(editForm.controls.descricao?.dirty && editForm.controls.descricao?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.descricao?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.descricao?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 2000 }">
                        This field cannot be longer than 2000 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="orgcontrolApp.itemPlanejamentoEnsino.planejamentoEnsino" for="field_planejamentoEnsino">Planejamento Ensino</label>
                    <select class="form-control" id="field_planejamentoEnsino" name="planejamentoEnsino" [(ngModel)]="itemPlanejamentoEnsino.planejamentoEnsino" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="planejamentoEnsinoOption.id === itemPlanejamentoEnsino.planejamentoEnsino?.id ? itemPlanejamentoEnsino.planejamentoEnsino : planejamentoEnsinoOption" *ngFor="let planejamentoEnsinoOption of planejamentoensinos; trackBy: trackPlanejamentoEnsinoById">{{planejamentoEnsinoOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
