<div>
    <h2 id="page-heading">
        <span jhiTranslate="orgcontrolApp.eleicao.home.title">Eleicaos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-eleicao" [routerLink]="['/eleicao/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="orgcontrolApp.eleicao.home.createLabel">
            Create new Eleicao
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="eleicaos">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nome"><span jhiTranslate="orgcontrolApp.eleicao.nome">Nome</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dataCadastro"><span jhiTranslate="orgcontrolApp.eleicao.dataCadastro">Data Cadastro</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="anoEleicao"><span jhiTranslate="orgcontrolApp.eleicao.anoEleicao">Ano Eleicao</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dataPleito"><span jhiTranslate="orgcontrolApp.eleicao.dataPleito">Data Pleito</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="totalEleitores"><span jhiTranslate="orgcontrolApp.eleicao.totalEleitores">Total Eleitores</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="totaVotos"><span jhiTranslate="orgcontrolApp.eleicao.totaVotos">Tota Votos</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="local"><span jhiTranslate="orgcontrolApp.eleicao.local">Local</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="hora"><span jhiTranslate="orgcontrolApp.eleicao.hora">Hora</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="obs"><span jhiTranslate="orgcontrolApp.eleicao.obs">Obs</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="chapaGanhadora.nome"><span jhiTranslate="orgcontrolApp.eleicao.chapaGanhadora">Chapa Ganhadora</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="instituicao.id"><span jhiTranslate="orgcontrolApp.eleicao.instituicao">Instituicao</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="unidade.id"><span jhiTranslate="orgcontrolApp.eleicao.unidade">Unidade</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let eleicao of eleicaos ;trackBy: trackId">
                <td><a [routerLink]="['/eleicao', eleicao.id, 'view' ]">{{eleicao.id}}</a></td>
                <td>{{eleicao.nome}}</td>
                <td>{{eleicao.dataCadastro | date:'mediumDate'}}</td>
                <td>{{eleicao.anoEleicao}}</td>
                <td>{{eleicao.dataPleito | date:'mediumDate'}}</td>
                <td>{{eleicao.totalEleitores}}</td>
                <td>{{eleicao.totaVotos}}</td>
                <td>{{eleicao.local}}</td>
                <td>{{eleicao.hora}}</td>
                <td>{{eleicao.obs}}</td>
                <td>
                    <div *ngIf="eleicao.chapaGanhadora">
                        <a [routerLink]="['../chapa', eleicao.chapaGanhadora?.id, 'view' ]" >{{eleicao.chapaGanhadora?.nome}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="eleicao.instituicao">
                        <a [routerLink]="['../instituicao', eleicao.instituicao?.id, 'view' ]" >{{eleicao.instituicao?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="eleicao.unidade">
                        <a [routerLink]="['../unidade', eleicao.unidade?.id, 'view' ]" >{{eleicao.unidade?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/eleicao', eleicao.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/eleicao', eleicao.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'eleicao/'+ eleicao.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Pager is not implemented yet, so this is normal pagination instead -->
    <div *ngIf="eleicaos && eleicaos.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
