<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-advertencia-heading" jhiTranslate="orgcontrolApp.advertencia.home.createOrEditLabel">Create or edit a Advertencia</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!advertencia.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="advertencia.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="orgcontrolApp.advertencia.nome" for="field_nome">Nome</label>
                    <input type="text" class="form-control" name="nome" id="field_nome"
                        [(ngModel)]="advertencia.nome" required maxlength="50"/>
                    <div [hidden]="!(editForm.controls.nome?.dirty && editForm.controls.nome?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.nome?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.nome?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                        This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="orgcontrolApp.advertencia.data" for="field_data">Data</label>
                    <div class="input-group">
                        <input id="field_data" type="text" class="form-control" name="data" ngbDatepicker  #dataDp="ngbDatepicker" [(ngModel)]="advertencia.data"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dataDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.data?.dirty && editForm.controls.data?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.data?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="orgcontrolApp.advertencia.dataAdvertencia" for="field_dataAdvertencia">Data Advertencia</label>
                    <div class="input-group">
                        <input id="field_dataAdvertencia" type="text" class="form-control" name="dataAdvertencia" ngbDatepicker  #dataAdvertenciaDp="ngbDatepicker" [(ngModel)]="advertencia.dataAdvertencia"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dataAdvertenciaDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.dataAdvertencia?.dirty && editForm.controls.dataAdvertencia?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.dataAdvertencia?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="orgcontrolApp.advertencia.horaAdvertencia" for="field_horaAdvertencia">Hora Advertencia</label>
                    <input type="text" class="form-control" name="horaAdvertencia" id="field_horaAdvertencia"
                        [(ngModel)]="advertencia.horaAdvertencia" required maxlength="5"/>
                    <div [hidden]="!(editForm.controls.horaAdvertencia?.dirty && editForm.controls.horaAdvertencia?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.horaAdvertencia?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.horaAdvertencia?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 5 }">
                        This field cannot be longer than 5 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="orgcontrolApp.advertencia.resumo" for="field_resumo">Resumo</label>
                    <input type="text" class="form-control" name="resumo" id="field_resumo"
                        [(ngModel)]="advertencia.resumo" required maxlength="1000"/>
                    <div [hidden]="!(editForm.controls.resumo?.dirty && editForm.controls.resumo?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.resumo?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.resumo?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 1000 }">
                        This field cannot be longer than 1000 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="orgcontrolApp.advertencia.obs" for="field_obs">Obs</label>
                    <input type="text" class="form-control" name="obs" id="field_obs"
                        [(ngModel)]="advertencia.obs" maxlength="100"/>
                    <div [hidden]="!(editForm.controls.obs?.dirty && editForm.controls.obs?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.obs?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="orgcontrolApp.advertencia.aluno" for="field_aluno">Aluno</label>
                    <select class="form-control" id="field_aluno" name="aluno" [(ngModel)]="advertencia.aluno" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="alunoOption.id === advertencia.aluno?.id ? advertencia.aluno : alunoOption" *ngFor="let alunoOption of alunos; trackBy: trackAlunoById">{{alunoOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
