<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-item-avaliacao-heading" jhiTranslate="orgcontrolApp.itemAvaliacao.home.createOrEditLabel">Create or edit a Item Avaliacao</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!itemAvaliacao.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="itemAvaliacao.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="orgcontrolApp.itemAvaliacao.tipoResposta" for="field_tipoResposta">Tipo Resposta</label>
                    <select class="form-control" name="tipoResposta" [(ngModel)]="itemAvaliacao.tipoResposta" id="field_tipoResposta"  required>
                        <option value="DESCRITIVA">{{'orgcontrolApp.TipoResposta.DESCRITIVA' | translate}}</option>
                        <option value="OPTATIVA">{{'orgcontrolApp.TipoResposta.OPTATIVA' | translate}}</option>
                        <option value="MULT_OPTATIVA">{{'orgcontrolApp.TipoResposta.MULT_OPTATIVA' | translate}}</option>
                    </select>
                    <div [hidden]="!(editForm.controls.tipoResposta?.dirty && editForm.controls.tipoResposta?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.tipoResposta?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="orgcontrolApp.itemAvaliacao.questao" for="field_questao">Questao</label>
                    <input type="text" class="form-control" name="questao" id="field_questao"
                        [(ngModel)]="itemAvaliacao.questao" required maxlength="1000"/>
                    <div [hidden]="!(editForm.controls.questao?.dirty && editForm.controls.questao?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.questao?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.questao?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 1000 }">
                        This field cannot be longer than 1000 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="orgcontrolApp.itemAvaliacao.obs" for="field_obs">Obs</label>
                    <input type="text" class="form-control" name="obs" id="field_obs"
                        [(ngModel)]="itemAvaliacao.obs" maxlength="100"/>
                    <div [hidden]="!(editForm.controls.obs?.dirty && editForm.controls.obs?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.obs?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="orgcontrolApp.itemAvaliacao.respAvalDescritiva" for="field_respAvalDescritiva">Resp Aval Descritiva</label>
                    <select class="form-control" id="field_respAvalDescritiva" name="respAvalDescritiva" [(ngModel)]="itemAvaliacao.respAvalDescritiva">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="respAvalDescritivaOption.id === itemAvaliacao.respAvalDescritiva?.id ? itemAvaliacao.respAvalDescritiva : respAvalDescritivaOption" *ngFor="let respAvalDescritivaOption of respavaldescritivas; trackBy: trackRespAvalDescritivaById">{{respAvalDescritivaOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="orgcontrolApp.itemAvaliacao.respAvalOptativa" for="field_respAvalOptativa">Resp Aval Optativa</label>
                    <select class="form-control" id="field_respAvalOptativa" name="respAvalOptativa" [(ngModel)]="itemAvaliacao.respAvalOptativa">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="respAvalOptativaOption.id === itemAvaliacao.respAvalOptativa?.id ? itemAvaliacao.respAvalOptativa : respAvalOptativaOption" *ngFor="let respAvalOptativaOption of respavaloptativas; trackBy: trackRespAvalOptativaById">{{respAvalOptativaOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="orgcontrolApp.itemAvaliacao.avaliacao" for="field_avaliacao">Avaliacao</label>
                    <select class="form-control" id="field_avaliacao" name="avaliacao" [(ngModel)]="itemAvaliacao.avaliacao" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="avaliacaoOption.id === itemAvaliacao.avaliacao?.id ? itemAvaliacao.avaliacao : avaliacaoOption" *ngFor="let avaliacaoOption of avaliacaos; trackBy: trackAvaliacaoById">{{avaliacaoOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
